* {
    padding:0;
    margin:0;
    font-family: 'Ms Madi', cursive;
}

body, html {
    position:relative;
    height:100%;
    width:100%;
}

#map {
    height:100%;
    width:100%;
}

#xy {
    display:none;
}

#link {
    position: absolute;
    bottom: 15px;
    left: 15px;
    padding:5px 10px;
    color: rgba(64, 90, 130, 1);
    font-size: 12px;
    font-weight: bold;
    font-family: 'Share Tech Mono', monospace;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 4px;
}

#link a {
    font-family: 'Share Tech Mono', monospace;
    color: rgba(64, 90, 130, 1);
    text-decoration: none;
}

#link a:hover {
    text-decoration: underline;
}

#stream {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

#stream p {
    min-width: 350px;
    margin-top:15px;
    padding:5px 10px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Share Tech Mono', monospace;
    background-color: rgba(64, 90, 130, 0.8);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 4px;
}